<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Lens</title>

    <link rel="stylesheet" href="style.css">

</head>

<body>

    <div class="page">

        <!-- ==========================================
             Lens
             Page 001
             Component 001.02 - Navigation
        =========================================== -->

        <nav class="navigation">

            <div class="navigation-logo">
                LENS
            </div>

            <div class="navigation-links">

                <a href="#">Discover</a>

                <a href="#">About</a>

                <a href="#">Contact</a>

            </div>

        </nav>

        <!-- ==========================================
             Lens
             Page 001
             Component 001.11 - Celestial Light Source
        =========================================== -->

        <div class="celestial-light"></div>

        <!-- ==========================================
             Lens
             Page 001
             Component 001.12 - Cosmic Atmosphere
        =========================================== -->

        <div class="cosmic-atmosphere"></div>

        <!-- ==========================================
             Lens
             Page 001
             Component 001.03 - Hero Section
        =========================================== -->

        <div class="hero">

         <!-- ==========================================
                 Lens
                 Page 001
                 Component 001.09 - Saturn Orbit
            =========================================== -->

            <div class="lens-orbit">

                <div class="lens-orbit-back"></div>

                <!-- ==========================================
                     Lens
                     Page 001
                     Component 001.06 - Lens Crystal
                =========================================== -->

                <div class="lens-crystal">

                </div>

                <div class="lens-orbit-front"></div>

            </div> 

        </div>

    </div>

</body>

</html>